name: NASA Project CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    env:
      CI: true
    strategy:
      matrix:
        node-version: [14.x, 16.x]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js version ${{martix.node-versio}}
        uses: actions/setup-node@v3
        with:
          node-version: ${{martix.node-version}}
      - run: npm install
      - run: npm run build --prefix client
      - run: npm test
